<%= form_for(scrape_result, :html => {:class => "form-inline"}) do |f| %>
  <% if scrape_result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scrape_result.errors.count, "error") %> prohibited this scrape_result from being saved:</h2>

      <ul>
      <% scrape_result.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.text_field :web_site, required: true, class: 'form-control', placeholder: "Website URL" %>
  </div>

  <div class="actions">
    <%= f.submit "Scrape Website", type: "submit", class: "btn btn-primary" %>
  </div>
<% end %>
